I chose Allegheny County Poor Housing Conditions as my submetric for determining the best neighborhood in Pittsburgh. I chose this because housing is a very important factor when people chose where to live. People will probably not want to live in an area that has lower housing conditions on average. Tract refers to which census tract the area was in, PPoorCon refers to the proportion of housing units in poor condition, with higher numbers indicating worse condition.

First, I will display the first 10 data points in order to get an idea of what I am working with.

In [2]:
import pandas as pd 
import numpy as np
data = pd.read_csv('poorhousingconditions.csv')

In [11]:
data.head(10)

    TRACT  PPoorCon
0  431100  0.022593
1  432300  0.015898
2  563800  0.016079
3  563300  0.018003
4  451104  0.009339
5  451105  0.009200
6  564000  0.102669
7  562900  0.020096
8  453003  0.082447
9  434000  0.008750

Next, I will do some basic data analysis on the dataset.

In [17]:
data.describe()

               TRACT    PPoorCon
count     402.000000  402.000000
mean   388605.313433    0.022727
std    178013.434907    0.040727
min         0.000000    0.000000
25%    261625.000000    0.000000
50%    454002.000000    0.006463
75%    496175.500000    0.023343
max    982200.000000    0.256312

Now, it is noted in the dataset that some datapoints are left at 0 because there is insufficient data in that tract. So I will remove the null values from the dataset.

In [4]:
data.loc[~(data==0).all(axis=1)]
data.loc[~(data==0).all(axis=1)]

      TRACT  PPoorCon
0    431100  0.022593
1    432300  0.015898
2    563800  0.016079
3    563300  0.018003
4    451104  0.009339
..      ...       ...
388  111300  0.000000
389  111400  0.000000
390  120300  0.000000
391  120400  0.057522
392  120700  0.081522

[393 rows x 2 columns]